div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentDiv
{margin:0.5em auto;height:7em;overflow:auto;border:1px solid #999;}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentDiv[data-maxigos-disabled] {opacity:0.3;}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentContentDiv {padding:0.25em;text-align:justify;}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentDiv h1 {font-size:1em;text-align:left;margin:0;padding:0;border:0;}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxButtonsBoxDiv {text-align:center;}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxOptionDiv,
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxSgfDiv {display:inline-block;}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxButtonsBoxDiv button,
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxOKDiv button
{
	font-family:Arial,sans-serif;
	font-size:0.875em;
	height:auto;
	min-width:6em;
	border:1px solid #000;
	margin:1px;
	padding:0.125em 0.375em;
	color:#000;
	box-shadow:none;
}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxButtonsBoxDiv button
{
	background:transparent;
}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxOKDiv button
{
	background:#fff;
}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv input[type=text]
{
	text-align:center;
}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxShowOptionDiv,
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxShowSgfDiv
{
	background:#fff;
	border:1px solid #999;
}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxShowContentDiv
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:2.5em;
	overflow:auto;
	padding:0.5em;
}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxShowContentDiv h1
{
	font-size:1.25em;
	margin:0;
	padding:0 0 0.5em 0;
	border:0;
}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxShowSgfDiv div.mxP
{
	font-family:monospace;
	line-height:normal;
}
div.mxNeoClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxOKDiv
{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:0.5em;
	text-align:center;
	background:#eee;
}
