div.mxClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentDiv
{margin:0.5em auto;height:8em;overflow:auto;border:1px solid #999;}
div.mxClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentContentDiv {padding:0.25em;text-align:justify;}
div.mxClassicGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentDiv h1 {font-size:1em;text-align:left;margin:0;}
