div.mxClassicGlobalBoxDiv.mxGameGlobalBoxDiv div.mxHeaderDiv
{
	margin:0 auto 0.5em auto;
	text-align:left;
}
div.mxClassicGlobalBoxDiv.mxGameGlobalBoxDiv div.mxHeaderDiv h1
{
	text-align:left;
	font-size:1em;
	margin:0;
	padding:0;
}
