div.mxRosewoodGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentDiv
{margin:0.5em auto;height:8em;overflow:auto;border:1px solid rgba(0,0,0,0.4);}
div.mxRosewoodGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentContentDiv {padding:0.25em;text-align:justify;}
div.mxRosewoodGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxCommentDiv h1 {font-size:1em;text-align:left;margin:0;}
