div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv
{
	margin:0 auto;
	padding:0;
	text-align:center;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv button
{
	font-size:0.75em;
	width:3em;
	height:1.5em;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv input
{
	font-family:Arial,sans-serif;
	font-size:1em;
	width:2em;
	height:1em;
	vertical-align:middle;
	text-align:center;
	margin:0;
	border:1px solid #999;
	background:transparent;
}

div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv button div
{
	display:block;
	position:relative;
	top:0;
	height:1em;
	width:0;
	margin:0 auto;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv button div span {display:none;}

div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv button div:before,
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv button div:after
{
	top:0;
	position:absolute;
	content:"";
	border-width:0;
	border-style:solid;
	border-color:transparent #ec1e24;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv button[disabled] div:before,
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv button[disabled] div:after
{
	border-color:transparent rgba(0,0,0,0.3);
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxFirstBtn div:before
{
	height:1em;
	left:-0.375em;
	border-width:0 0 0 0.175em;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxFirstBtn div:after
{
	height:0;
	right:-0.375em;
	border-width:0.5em 0.5em 0.5em 0; 
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxTenPredBtn div:before
{
	height:0;
	left:-0.5em;
	border-width:0.5em 0.5em 0.5em 0; 
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxTenPredBtn div:after
{
	height:0;
	right:-0.5em;
	border-width:0.5em 0.5em 0.5em 0; 
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxPredBtn div:after
{
	height:0;
	left:-0.25em;
	border-width:0.5em 0.5em 0.5em 0; 
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxNextBtn div:before
{
	height:0;
	left:-0.25em;
	border-width:0.5em 0 0.5em 0.5em;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxTenNextBtn div:before
{
	height:0;
	left:-0.5em;
	border-width:0.5em 0 0.5em 0.5em;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxTenNextBtn div:after
{
	height:0;
	right:-0.5em;
	border-width:0.5em 0 0.5em 0.5em;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxLastBtn div:before
{
	height:0;
	left:-0.375em;
	border-width:0.5em 0 0.5em 0.5em;
}
div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv .mxLastBtn div:after
{
	height:1em;
	right:-0.375em;
	border-width:0 0.175em 0 0;
}

div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv button::-moz-focus-inner {padding:0;border:0;}

div.mxEidogoGlobalBoxDiv.mxCommentGlobalBoxDiv div.mxNavigationDiv
{
	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
